<% include partials/header %>

<div id="devices">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">在线设备<span id="refresh-span"
                                                          class="text-info icon ion-android-refresh pull-right"> Refresh</span>
                        </h3>
                    </div>
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>
                                设备
                            </th>
                            <th>
                                类型
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody id="online_devices">

                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">已登记设备列表</h3>
                    </div>
                    <table class="table table-hover ">
                        <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                Android版本
                            </th>
                            <th>
                                SDK
                            </th>
                            <th>
                                分辨率
                            </th>
                            <th>
                                CPU
                            </th>
                            <th>
                                厂商
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody id="device_table">
                        <% devices.forEach(function(device){ %>
                        <tr>
                            <td>
                                <%= device.id %>
                            </td>
                            <td>
                                <%= device.name %>
                            </td>
                            <td>
                                <%= device.android_version %>
                            </td>
                            <td>
                                <%= device.sdk_version %>
                            </td>
                            <td>
                                <%= device.resolution %>
                            </td>
                            <td>
                                <%= device.cpu_abi %>
                            </td>
                            <td>
                                <%= device.manufacturer %>
                            </td>
                            <td>
                                <a href="#" class="btn-remove btn btn-danger btn-xs" role="button"
                                   data-id="<%= device.id %>">删除</a>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/javascripts/devices.js"></script>
<% include partials/footer.ejs %>